<div
      cdkDropList
      #list
      class="example-list"
      [id]="data._id"
      [cdkDropListData]="data.items"
      [cdkDropListConnectedTo]="sendIds"
      (cdkDropListDropped)="drop($event)">
      <h2>{{data.title}} - {{data._id}}</h2>
      <div class="example-box">
          <div *ngFor="let item of data.items; let i = index"
          cdkDropList cdkDrag
          [cdkDropListConnectedTo]="sendIds"
          [cdkDropListData]="item.items"
          class="example-list"
          [id]="item._id"
          (cdkDropListDropped)="drop($event)">
          <app-container [data]="item" [ids]="sendIds"></app-container>
        </div>
      </div>
    </div>
